{% extends 'bootstrap/base.html' %}

{% block title %}JZIB Insurance Company{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        body {
            background-color: black;
            color: white;
        }
        .navbar-item {
            display: flex;
        }

        .  {
            margin-left: auto;
        }
        a, a:hover {
            text-decoration: none;
            color:white;
        }
        p{
            font-size: 18px;
        }
        
        #header{
            border-style: solid;
            border-color: white; 
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .black-and-white{
            background-color: black;
            color: white;
        }
        
       
    </style>
{% endblock %}
{% block content %}


<nav class="navbar">
    <div class="container " style="">
        <a href = "/"> <h1 class = "text-center" id = "header"> JZIB Insurance</h1></a>
    </div>
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    // get the selection field
    var select = $("select[name='plan']");
    
    // add a change event handler
    select.change(function() {
       
      // get the selected value
      var value = select.val();
      // update the quote value based on some logic
      var quote = {{quote}};
      if (value == "planA") {
        quote = quote ;
      } else if (value == "planB") {
        quote = quote * 1.5;
      } else if (value == "planC") {
        quote = quote * 2;
      }
      // update the text elements that display the quote value
      $("#quote").text("Premium: $" + quote + " /month");
      $("#benefit").text("Benefit: $" + quote * 100);
    });
  });
</script>
<div class="container">
    
    {% if session['LOGGED_IN'] %}
   
    <form method="POST" action="{{ url_for('purchase')}}">
        <h2>Hello, Here is your plan: </h2>
        <h3 id = "quote"> Premium: ${{ quote }} /month </h3>
        <h3 id = "benefit"> Benefit: ${{ quote * 100 }} </h3>
        
        <div class="form-group">
            {{ pForm.plan.label }}
            {{ pForm.plan(class="form-control black-and-white") }}
        </div>
   

        <button type="submit" class="btn btn-success">Purchase</button>
    </form>
    {% else %}
        LOG IN FIRST! 
        <a href = "/login" class = "btn btn-primary">LOGIN </a>
    {% endif %}
</div>
{% endblock %}
